https://finance.naver.com/marketindex/?tabSel=exchange#tab_section

In [42]:
from bs4 import BeautifulSoup
import requests

In [43]:
url='https://finance.naver.com/marketindex/exchangeList.nhn'

In [44]:
r = requests.get(url)

In [45]:
soup = BeautifulSoup(r.text,'html.parser')

In [46]:
tit=soup.select('td.tit>a')

In [49]:
list1=[]
for i in tit:
    str=i.string.strip()
    print(str)
    list1.append(str)

미국 USD
유럽연합 EUR
일본 JPY (100엔)
중국 CNY
홍콩 HKD
대만 TWD
영국 GBP
오만 OMR
캐나다 CAD
스위스 CHF
스웨덴 SEK
호주 AUD
뉴질랜드 NZD
체코 CZK
칠레 CLP
터키 TRY
몽골 MNT
이스라엘 ILS
덴마크 DKK
노르웨이 NOK
사우디아라비아 SAR
쿠웨이트 KWD
바레인 BHD
아랍에미리트 AED
요르단 JOD
이집트 EGP
태국 THB
싱가포르 SGD
말레이시아 MYR
인도네시아 IDR 100
카타르 QAR
카자흐스탄 KZT
브루나이 BND
인도 INR
파키스탄 PKR
방글라데시 BDT
필리핀 PHP
멕시코 MXN
브라질 BRL
베트남 VND 100
남아프리카 공화국 ZAR
러시아 RUB
헝가리 HUF
폴란드 PLN

In [35]:
tit2=soup.select('td.sale')

In [36]:
list2=[]
for i in tit2:
    str=i.string.strip()
    str=str.replace(",","")
    list2.append(str)
    print(str)

1206.50
1375.53
1128.68
172.40
155.63
40.95
1514.34
3133.77
893.21
1275.98
132.63
843.28
791.46
51.54
1.54
175.93
0.43
351.37
184.71
129.42
321.67
3923.58
3199.59
328.46
1701.69
75.55
38.03
866.15
282.72
8.29
331.33
2.92
865.68
16.03
7.22
14.23
24.34
53.88
224.67
5.20
72.47
16.99
3.89
306.12

In [40]:
result=list(zip(list1, list2))

In [41]:
result

[('미국 USD', '1206.50'),
 ('유럽연합 EUR', '1375.53'),
 ('일본 JPY (100엔)', '1128.68'),
 ('중국 CNY', '172.40'),
 ('홍콩 HKD', '155.63'),
 ('대만 TWD', '40.95'),
 ('영국 GBP', '1514.34'),
 ('오만 OMR', '3133.77'),
 ('캐나다 CAD', '893.21'),
 ('스위스 CHF', '1275.98'),
 ('스웨덴 SEK', '132.63'),
 ('호주 AUD', '843.28'),
 ('뉴질랜드 NZD', '791.46'),
 ('체코 CZK', '51.54'),
 ('칠레 CLP', '1.54'),
 ('터키 TRY', '175.93'),
 ('몽골 MNT', '0.43'),
 ('이스라엘 ILS', '351.37'),
 ('덴마크 DKK', '184.71'),
 ('노르웨이 NOK', '129.42'),
 ('사우디아라비아 SAR', '321.67'),
 ('쿠웨이트 KWD', '3923.58'),
 ('바레인 BHD', '3199.59'),
 ('아랍에미리트 AED', '328.46'),
 ('요르단 JOD', '1701.69'),
 ('이집트 EGP', '75.55'),
 ('태국 THB', '38.03'),
 ('싱가포르 SGD', '866.15'),
 ('말레이시아 MYR', '282.72'),
 ('인도네시아 IDR 100', '8.29'),
 ('카타르 QAR', '331.33'),
 ('카자흐스탄 KZT', '2.92'),
 ('브루나이 BND', '865.68'),
 ('인도 INR', '16.03'),
 ('파키스탄 PKR', '7.22'),
 ('방글라데시 BDT', '14.23'),
 ('필리핀 PHP', '24.34'),
 ('멕시코 MXN', '53.88'),
 ('브라질 BRL', '224.67'),
 ('베트남 VND 100', '5.20'),
 ('남아프리카 공화국 ZAR', '72.47'),
 ('러시아 RUB', '16.99'),
 ('헝가리 HUF', '3.89'),
 ('폴란드 PLN', '306.12')]