In [1]:
def add(a,b):
    return a+b

In [2]:
result = add(2,4)

In [3]:
result

6

In [4]:
result= add(b=7,a=5)

In [5]:
result

12

In [14]:
def add_many(*args):
    result = 0
    print(type(args))
    for i in args:
        print(i)
    return result

In [10]:
print(add_many(1,2,3,4,5,6,7,8,9,10))

<class 'tuple'>
55

In [11]:
c = add_many(1,2,3,7,5,3,54,5,7)

<class 'tuple'>

In [12]:
c

87

In [15]:
print(add_many(1,2,3,'d'))

<class 'tuple'>
1
2
3
d
0

In [21]:
def add_mul(choice,*args):
    if choice == "add":
        result =0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [23]:
print(add_mul('add',1,2,3,4,5,6,7,8))

36

In [18]:
print(add_mul('mul',1,2,3,4,5,6,7,8))

40320

In [24]:
def print_kwargs(**kwargs):
    print(kwargs)

In [25]:
print_kwargs(name='hong',age=34,addr="대구")

{'name': 'hong', 'age': 34, 'addr': '대구'}

In [26]:
def add_and_mul(a,b):
    return a+b,a*b

In [30]:
add,mul = add_and_mul(3,4)

In [31]:
print(type(add))

<class 'int'>

In [32]:
print(add)

7

In [54]:
def say_myself(name,old,man=True):
    print("나의 이름은 ",name,"입니다.")
    print("나이는 ",old,"살입니다.")
    if man:
        print("남자")
    else:
        print("여자")

In [55]:
say_myself("홍길동",23)

나의 이름은  홍길동 입니다.
나이는  23 살입니다.
남자